* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header {
    font-size: 66.6px;
    font-weight: 900;
    background-color: black;
    color: white;
    padding: 2vw;
}

h1 {
    font-size: 197px;
    font-weight: 900;
}

h2 {
    font-size: 217px;
    font-weight: 900;
    background-color: black;
    color: white;
    padding: 4vw;
}

p {
    font-size: 48px;
    font-weight: 300;
}

strong {
    font-size: 60px;
    font-weight: 900;
}

footer {
    font-size: 58px;
    font-weight: 300;
    background-color: black;
    color: white;
    padding: 4vw;
}